<!--
<ActionBar title="How much will you need to retire at 67?" class="action-bar">
</ActionBar>
-->
<ActionBar title="">
      <Label col="0" row="0"  class="h4 p-15" text="How much will you need to retire at  {{retirementInput.age}}?" textWrap="false">
              </Label>
      <NavigationButton android.systemIcon="ic_menu_back"
       text="Back to ActionBar" (tap)="moreTap()"></NavigationButton>
   </ActionBar> 


<ns-retirement-chart></ns-retirement-chart> 
 
<!--
   <ns-retirement-chart></ns-retirement-chart> 
   <ns-retirement-input></ns-retirement-input> 
-->

<!--
<ScrollView orientation="vertical" sdkExampleTitle sdkToggleNavButton>

</ScrollView>
-->

